/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
 pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
  samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul,
   li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
     menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    -webkit-text-size-adjust: none;
}

ol, ul {
    list-style: none;
} 
/* End Reset */

/* Title */
body {
    background-color: lightgray;
    background-image: url("../img/background.png");
    background-repeat: repeat;
    background-size: 25%;
}

h1 {
    margin-top: 25px;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    font-family: sans-serif;
}

h3 {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}
/* End Title */

/* Content Wrapper */
.wrapper {
    width:100%;
    height:100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
}
.content {
    padding: 20px;
    background: #DFDFDF;
    color: #555;
    width: 100%;
    height: 100%;
    resize: both;
    overflow: auto;
}
/* End Content Wrapper */

/* Idea Submission */
form {
    text-align: center;
    font-size: 125%;
    font-family: sans-serif;
}

input[type=text] {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 90%;
    height: 50px;
    padding: 12px 20px;
    margin-top: 3px;
    font-size: 100%;
}

input[type=submit] {
    width: 90%;
    height: 15%;
    color: white;
    background-color: lightblue;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: teal;
}
@media (min-width: 480px) {
    .content {
        width: 50%;
        height: 70%;
    }
    input[type=text] {
        height: 15%;
    }
}
/*End Idea Submission*/

/*Response*/
p {
    width: 50%;
    font-size: 20px;
    size: 20px;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
}
/*End Response*/